* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

a {
	color: #222;
}

body {
	font-family: sans-serif;
	color: #333;
}

/*body.lock {
	overflow: hidden;
}

body.day {
	background-color: #555;
	color: #fff;
}*/

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #474747;
}

::-webkit-scrollbar-thumb {
	background-color: #006db6;
	border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #0684d8;
}

.wrapper {
	overflow: hidden;
	position: relative;
	z-index: 3;
}

.header {
	padding: 10px 0px;
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	background-color: rgba(210, 242, 250, 0.61);
}

.header:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 2px solid rgb(43, 168, 226);
	z-index: 3;
}

.header.day {
	background-color: rgba(68, 68, 68, 0.719);
}

.header__container {
	max-width: 1290px;
	margin: 0px auto;
}

.header__row {}

.header__item {
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 3;
}

.item__logo {
	display: block;
	width: 60px;
	height: 60px;
	background-color: #fff;
	border-radius: 50%;
}

.header__burger {
	display: none;
}

.header__list {
	display: flex;
	align-items: center;
}

.header__list li a {
	display: flex;
	margin: 0px 20px;
	font-size: 18px;
	line-height: 40px;
	color: #333;
}

.header__list.day li a {
	color: #fff;
}

.header__list li:hover {
	background-color: rgb(43, 168, 226);
	transition: all 0.5s ease 0s;
}

@media (max-width: 768px) {
	.header {
		height: 60px;
	}

	.item__logo {
		width: 40px;
		height: 40px;
		margin: 0px 0px 0px 5px;
	}

	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		margin: 5px 5px 0px 0px;
		z-index: 5;
	}

	.header__burger span {
		position: absolute;
		background-color: #333;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 500ms ease 0s;
	}

	.header__burger.day span {
		background-color: #fff;
	}

	.header__burger:before,
	.header__burger:after {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #333;
		transition: all 0.5s ease 0s;
	}

	.header__burger.day:before,
	.header__burger.day:after {
		background-color: #fff;
	}

	.header__burger:after {
		bottom: 0;
	}

	.header__list {
		position: fixed;
		left: 0;
		top: 160%;
		width: 100%;
		height: 100%;
		flex-direction: column;
		background-color: rgba(147, 210, 235, 0.952);
		transition: all 0.5s ease 0s;
		margin: 60px 0px 0px 0px;
		z-index: 1;
		overflow: a;
	}

	.header__list.active {
		top: 0;
		transition: all 0.5s ease 0s;
	}

	.header__list li a {
		font-size: 33px;
		line-height: 55px;
	}

	.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}

	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.header__burger.active span {
		transform: scale(0);
	}
}

.header__ani {
	position: relative;
	z-index: 1;
}

.header__ani img {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 1;
	opacity: 0.8;
}

@media (max-width:768px) {
	.header__ani {
		height: 250px;
	}
}

.series {
	width: 100%;
	margin: 100px 0px 0px 0px;
}

.series__container {
	max-width: 1200px;
	margin: 0px auto;
}

.block__title-series {
	font-size: 28px;
	line-height: 34px;
	font-weight: 700;
	text-align: center;
	color: #006db6;
	margin: 10px 0px 0px 0px;
}

.series__row {
	display: flex;
	flex-wrap: wrap;
}

.series__button {
	display: block;
	padding: 15px;
	background-color: rgb(169, 238, 255);
	border-radius: 5px;
	flex: 0 0 116.23px;
	margin: 10px 15px 0px 0px;
	transition: all 500ms ease 0s;
}

.series__button:hover {
	background-color: rgb(48, 212, 253);
}

/*.series__button:last-child {
	margin: 15px 0px 0px 0px;
}*/

.series__button p {
	color: #444;
	font-size: 20px;
	font-weight: 600;
}

.series__line {
	margin: 30px 0px 0px 0px;
	width: 100%;
	height: 4px;
	background-color: rgb(112, 222, 250);
}

@media (max-width:428px) {
	.series__button {
		flex: 0 1 100px;
	}

	.series__button p {
		color: #444;
		font-size: 16px;
		font-weight: 600;
	}


	.series__row {
		justify-content: center;
	}

}

.block {
	width: 100%;
}

.block__container {
	max-width: 1200px;
	margin: 0px auto;
}

.block__body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
}

/*.block__img {
	position: relative;
	width: 300px;
	height: 400px;
}

.block__img img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	object-fit: cover;
	object-position: center;

}*/

.block__title {
	font-size: 28px;
	line-height: 34px;
	font-weight: 700;
	text-align: center;
	color: #006db6;
	margin: 50px 0px 30px 0px;
}

.block__text {
	font-size: 20px;
	margin: 30px 0 0 0;
	line-height: 32px;
	padding: 10px;
	background-color: rgb(169, 238, 255);
	border-radius: 10px;
}

.block__text p {
	margin: 20px 0px;
}

.block__text p:last-child {
	margin: 0px 0px;
}

@media (max-width:768px) {
	.block__body {
		padding: 10px;
	}
}