*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
ul,li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background-color: #474747;
}

::-webkit-scrollbar-thumb {
	background-color: #006db6;
	border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #0684d8;
}

a {
	color: #222;
}
body {
	background-color: #fff;
	font-family: sans-serif;
	color: #222;
}
body.lock{
	overflow: hidden;
}
body.day {
	background-color: #555;
	color: #fff;
}

.wrapper {
	overflow: hidden;
}


.full-screen {
	position: relative;
	z-index: 3;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.full-screen__body {
	background-color: rgba(0, 0, 0, 0.253);
	color: #fff;
	padding: 50px 15px;
	position: relative;
	z-index: 4;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-transform: uppercase;
	/*transition: all 1s ease 5s;*/
}
.full-screen__title {
	font-weight: 700;
	font-size: 60px;
	line-height: 80px;
	letter-spacing: 30px;
	transform: scale(0);
	animation: amir-title 3s ease 1 normal 5s forwards;
}
.full-screen__text {
	font-size: 33px;
	line-height: 40px;
	letter-spacing: 15px;
	transform: scale(0);
	animation: amir-text 3s ease 1 normal 8s forwards;
}
@media (max-width: 768px) {
	.full-screen__title {
		font-size: 44px;
		line-height: 50px;
		letter-spacing: 15px;
	}
	.full-screen__text {
		font-size: 25px;
		line-height: 50px;
		letter-spacing: 5px;
	}
}
@keyframes amir-title {
	0% {
	}
	50% {
		transform: scale(1.5, 1.5);
	}
	100% {
		transform: scale(1, 1);
	}


}
@keyframes amir-text {
	0% {
	}
	50% {
		transform: scale(1.2, 1.2);
	}
	100% {
		transform: scale(1, 1);
	}

}
.full-screen__video {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.header {
	padding: 10px 0px;
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	background-color: rgba(210, 242, 250, 0.61);
}
.header:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 2px solid rgb(43, 168, 226);
	z-index: 3;
}
.header.day {
	background-color: rgba(68, 68, 68, 0.719);
}
.header__container {
	max-width: 1290px;
	margin: 0px auto;
}
.header__row {
	
}
.header__item {
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 3;
}
.item__logo {
	display: block;
	width: 60px;
	height: 60px;
	background-color: #fff;
	border-radius: 50%;
}
.header__burger {
	display: none;
}
.header__list {
	display: flex;
	align-items: center;
}
.header__list li a {
	display: flex;
	margin: 0px 20px;
	font-size: 18px;
	line-height: 40px;
	color: #333;
}
.header__list.day li a {
	color: #fff;
}

.header__list li:hover {
	background-color: rgb(43, 168, 226);
	transition: all 0.5s ease 0s;
}
@media (max-width: 768px) {
	.header {
		height: 60px;
	}
	.item__logo {
		width: 40px;
		height: 40px;
		margin: 0px 0px 0px 5px;
	}
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		margin: 5px 5px 0px 0px;
		z-index: 5;
	}
	.header__burger span {
		position: absolute;
		background-color: #333;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 500ms ease 0s;
	}
	.header__burger.day span {
		background-color: #fff;
	}
	.header__burger:before,
	.header__burger:after {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #333;
		transition: all 0.5s ease 0s;
	}
	.header__burger.day:before,
	.header__burger.day:after {
		background-color: #fff;
}
	.header__burger:after {
		bottom: 0;
	}
	.header__list {
		position: fixed;
		left: 0;
		top: 160%;
		width: 100%;
		height: 100%;
		flex-direction: column;
		background-color: aqua;
		transition: all 0.5s ease 0s;
		margin: 60px 0px 0px 0px;
		z-index: 1;
		overflow: a;
	}
	.header__list.active {
		top: 0;
		transition: all 0.5s ease 0s;
	}
	.header__list li a {
		font-size: 33px;
		line-height: 55px;
	}
	.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__burger.active span {
		transform: scale(0);
	}
}
.content {
	margin: 50px 0px 0px 0px;
}
.content__container {
	max-width: 1290px;
	margin: 0px auto;
}
.content__roow {
	display: flex;
	justify-content: space-between;
	margin: 0px -15px;

}
.content__content {
	display: flex;
	margin: -10px 20px 0px 0px;
	flex-wrap: wrap;
}

.content__side-bar {
	flex: 0 0 300px;
	background-color: rgb(169, 238, 255);
	height: 600px;
	padding: 0px 5px;
	position: relative;
	top: 0;
	left: 0;
}
.side-bar__join,
.side-bar__registration {
	cursor: pointer;
	font-size: 28px;
	margin: 10px 0px;
	text-transform: capitalize;
	padding: 5px 0px 5px 5px;
	transition: all 0.3s ease 0s;
}
.side-bar__registration {
}
.side-bar__join:hover {
	background-color: rgb(43, 168, 226);
	border-radius: 0px 50px 50px 0px;
}
.side-bar__join-icon {
	position: absolute;
	left: -780px;
	top: 0;
	background-color: aqua;
	padding: 100px 250px;
	transform: scale(0);
	border-radius: 20px;
	box-shadow: -5px 10px 50px 5px #333;
}
.side-bar__join-icon.join-icon {
	transform: scale(1);
}
.side-bar__registration:hover {
	background-color: rgb(43, 168, 226);
	border-radius: 0px 50px 50px 0px;
}
.email {
	font-size: 22px;
}
.email-user {
	width: 250px;
	height: 30px;
	padding: 5px 10px;
	border-radius: 5px;
	margin: 10px 0px 20px 0px;
}
.password-user {
	font-size: 22px;
}
.password {
	width: 250px;
	height: 30px;
	padding: 5px 10px;
	border-radius: 5px;
	margin: 10px 0px 20px 0px;
}
.email-user:focus {
	border: 2px solid rgb(0, 173, 253);
}
.password:focus {
	border: 2px solid rgb(0, 173, 253);
}
.send button{
	width: 150px;
	height: 50px;
	border-radius: 10px;
	background-color: rgb(43, 168, 226);
	color: #fff;
	font-size: 18px;
}
.content__title {
	width: 100%;
	background-color: rgb(210, 242, 250);
	color: #000;
	font-size: 28px;
	font-weight: 700;
	line-height: 32px;
	padding: 20px 15px;
	text-align: center;
	border-bottom: 3px solid rgb(43, 168, 226);
	margin: 0px 0px 50px 0px;
}
.content__title.day {
	background-color: #444;
	color: #fff;
}
.content__dayandnight {
	position: relative;
	display: flex;
	width: 69px;
	border: 3px solid rgb(12, 156, 223);
	border-radius: 20px;
	background-color: rgb(141, 141, 141);
	margin: 10px 5px;
}
.dayandnight__bottom {
	width: 30px;
	height: 30px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 1px;
	left: 1px;
	transition: all 0.3s linear 0s;
	cursor: pointer;
}
.dayandnight__bottom.day{
	left: 31px;
}
.content__day {
}
.content__night {
}
.content__day img,
.content__night img {
	max-width: 100%;
}

.content__column {
	padding: 15px 15px;
	flex: 0 1 50%;
}
.content__items {
	display: flex;
	background-color: rgb(169, 238, 255);
	height: 300px;
	transition: all 0.5s ease 0s;
	color: #222;
}
.content__items.day {
	color: #fff;
	background-color: #333;
}
.content__items.day:hover {
	background-color: rgb(29, 29, 29);
	transition: all 0.5s ease 0s;
}
.content__items:hover {
	background-color: rgb(136, 226, 248);
	transition: all 0.5s ease 0s;
}
.content__img {
	flex: 1 0 200px;
	position: relative;
	transition: all 0.4s ease 0s;
}
.content__img:hover {
	transform: scale(1.3, 1.3);
	transition: all 0.4s ease 0.5s;
	z-index: 2;
}
.content__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	left: 0;
	top: 0;
	object-position: center;

}

@media (max-width: 768px) {
	.content__img {
	margin: 10px 0px 0px 0px;
	position: relative;
	overflow: hidden;
	height: 200px;
	width: 200px;
	border-radius: 50%;
}
.content__img:hover {
	transform: scale(1, 1);
	z-index: 0;
}
.content__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	left: 0;
	top: 0;
}
	.content__items {
		align-items: center;
	}

}
.content__title-anime {
	padding: 0px 20px 0px 20px;
	font-size: 18px;
	line-height: 32px;
}
.content__title-anime p:nth-child(1) {
	font-size: 22px;
	line-height: 32px;
	padding: 10px 0px 0px 0px;
}

.content__title-anime p:nth-child(2) {
	font-size: 16px;
	line-height: 22px;
	padding: 10px 0px 0px 0px;
}
.content__side-bar{}
.content__side-bar.day {
	background-color: #333;
}

.side-bar__title {
}
.side-bar__block {
	font-size: 22px;
	line-height: 62px;
}
.site-bar__burger {
	display: none;
}
@media (max-width: 1188px) {
	.site-bar__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 4;
		margin: 20px 10px
	}
		.site-bar__burger.click {
			position: fixed;
			left: 0;
			top: 80px;
	}
		.site-bar__burger:before,
	.site-bar__burger:after {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #000;
		transition: all 0.5s ease 0s;
	}
			.site-bar__burger.day:before,
	.site-bar__burger.day:after {
		background-color: #fff;
	}
	.site-bar__burger:before {
		top: 0;
	}
		.site-bar__burger.click:before {
		transform: rotate(45deg);
		top: 9px;
	}
		.site-bar__burger:after {
		bottom: 0;
	}
			.site-bar__burger.click:after {
		bottom: 9px;
		transform: rotate(-45deg);
	}
	.site-bar__burger span {
		position: absolute;
		left: 0;
		top: 9px;
		width: 100%;
		height: 2px;
		background-color: #000;
		transition: all 0.5s ease 0s;
	}
		.site-bar__burger.day span {
		background-color: #fff;
	}
		.site-bar__burger.click span {
			transform: scale(0);
	}
	.content__side-bar{
		position: fixed;
		left: -100%;
		top: 0;
		border: 2px solid #222;
		width: 90%;
		border-radius: 10px;
		padding: 150px 10px 10px 10px;
		transition: all 0.5s ease 0s;
		z-index: 3;
		overflow: auto;
		box-shadow: #000 5px 2px 50px;
	}
	.content__side-bar.click {
		left: 0%;
	}
	.content__column {
		padding: 15px 15px;
		flex: 0 1 33.333%;
	}
	.content__items {
	flex-direction: column;
	height: auto;
	padding: 0px 0px 10px 0px;
	}
	.content__content {
		display: flex;
		margin: -10px 10px 0px 10px;
		flex-wrap: wrap;
	}
@media (max-width: 768px) {
		.content__column {
		padding: 15px 15px;
		flex: 1 1 auto;
	}
}


}
.footer {
	width: 100%;
	padding: 30px;
	background-color: rgb(169, 238, 255);
}
.footer.day {
	color: #fff;
	background-color: #333;
}
.footer__container {
	max-width: 1300px;
	margin: 0px auto;
}
.footer__row {

}
.footer__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.site__logo {
	display: block;
	width: 65px;
	height: 65px;
	background-color: #fff;
	border-radius: 50%;
	margin: 0 20px 0 0;
}
.footer__rights {
	font-size: 16px;
}
.footer__contacts {
}
.social-media {
	width: 40px;
	display: block;
	fill: #222;
	transition: all 300ms ease 0s;
}
.social-media:hover,:active{
	fill: rgb(0, 143, 187);
}
@media (max-width: 374px) {
	.footer__rights {
font-size: 14px;
	}
	.site__logo {
	width: 50px;
	height: 50px;
	}
	.social-media {
	width: 30px;
	}
}
